.container{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #19a2cc;
}

.navbar{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.brandLogo{
  width: 150px;
}

li {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-decoration:"none"
  }
  
